.hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: 50%;
  height: calc(110vh - 60px);
  position: relative;
  display: flex;
  z-index: 1;
}

.hero_content {
  height: 100%;
  width: 100%;
  padding: 20px;
  background: rgba(34, 32, 44, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.hero_content > h1 {
  font-size: 3rem;
  padding: 0.4rem;
  font-weight: 500;
}

.hero_content > h4 {
  font-size: 24px;
  font-weight: 300;
}

.hero_content a .contact_button {
  padding: 10px 20px;
  background: #ef533d;
  border-radius: 20px;
  border: none;
  color: #fff;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin-top: 4vh;
  font-size: 18px;
}

.hero_content a .contact_button:hover {
  cursor: pointer;
  background-color: #da4a37;
}
